.title {
  font-weight: normal;
  margin: 0;
  padding-top: 7px;
}

.titleLink {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.titleLink::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media all and (min-width: 1024px) {
  .title {
    padding-top: 0px;
    padding-bottom: 7px;
  }
}

@media all and (min-width: 1540px) {
  .titleLink:hover {
    color: var(--orange);
  }
}
