.buttonLoadMoreWrap {
  width: 100%;
  display: flex;
}

.buttonLoadMore {
  margin: 0 auto;
  font-size: medium;
  color: var(--white);
  background-color: var(--orange);
  padding: 17px 50px;
  transition: background-color .1s linear;
}

.buttonLoadMore:hover {
  background-color: var(--orangeHover);
}

@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 20px 40px 40px;
  }
}

@media all and (min-width: 1540px) {
  .cardsList {
    padding: 60px 40px 60px 60px;
  }
}
