.comment {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 10px;
  column-gap: 22px;
}

.commentPipeWrap {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 6px;

  grid-row: 2/4;
}

.commentPipe {
  border: 1.5px solid var(--grayD9);
}

.commentInfo {
  display: flex;
  align-items: center;
}

.actionButtonsWrap {
  margin-bottom: 10px;
}

.commentActionButton {
  display: flex;
  align-items: center;
  padding: 2px;
}

.commentActionButtonSvg {
 margin-right: 6px;
}
