.form {

}

.textArea {
  display: flex;

  color: var(--black);
  font-size: 16px; 

  padding: 16px 18px;
  font-family: "Roboto", sans-serif;
  
  width: 100%;
  min-height: 90px;

  border-radius: 3px 3px 0px 0px;
  border: 1px solid var(--grayD9); 
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  /* resize: vertical;  */
  resize: none;
}

.textArea::placeholder {
  color: var(--gray99);
}

.submit {
  display: flex;
  text-align: center;
  padding: 17px 50px;
  background-color: var(--orange);
  color: var(--white);

  margin-left: auto;
}
