.modal {
  position: fixed;
  top: 100px;
  left: calc(50% - (960px / 2));
  margin: 0 auto;
  max-width: 960px;
  background-color: white;
  z-index: 100;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.3));
  width: 100%;
  max-height: calc(100vh - 200px);
  /* overflow-y: scroll; */
  padding: 52px 60px;
}

.modalView {
  max-height: calc(100vh - 320px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
}

h2 {
  font-size: 20px;
  line-height: normal;
  margin-bottom: 16px;
}

/* p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
} */
