.menu {
  position: absolute;
  top: 17px;
  right: 15px;
}

.menuBtn {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
  background: transparent;
  border: 0;
}

.menuBtn:active {
  background-color: rgba(51, 51, 51, 0.1);
}

.menuBtn:focus-within {
  background-color: rgba(51, 51, 51, 0.1);
}

.dropdownWrap {

}

.dropdownListWrap {
  min-width: 160px;
  width: 100%;
  height: 100%;
  /* left: calc((-160px / 2) + 31px / 2) !important; */
  left: calc((-160px) + 31px) !important;
  top: 10px !important;
  z-index: 10;
}

.menuContentWrap {
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.list {
  width: 100%;
  padding: 0 20px;
}

.listItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0 12px;
  font-size: 12px;
  color: var(--gray99);
  cursor: pointer;
}

.listItem:nth-child(1),
.listItem:nth-child(2),
.listItem:nth-child(4) {
  display: none;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid var(--grayD9);
}

.listItemSvg {
  margin-right: 5px;
}

.menuContentBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 14px;
  background-color: var(--grayD9);
  border-radius: 0 0 3px 3px;
  font-size: 12px;
  color: var(--gray66);
}

@media all and (min-width: 1024px) {
  .menu {
    top: calc(50% - 31px / 2);
    right: 60px;
  }

  .menuBtn {
    transform: rotate(0deg);
  }

  .dropdownListWrap {
    left: calc((-160px / 2) + 31px / 2) !important;
    top: 20px !important;
  }

  .listItem {
    font-size: 14px;
  }

  .listItem:nth-child(1),
  .listItem:nth-child(2),
  .listItem:nth-child(4) {
    display: flex;
  }
}

@media all and (min-width: 1540px) {
  .menuBtn:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }

  .list {
    padding: 10px 20px;
  }

  .listItem {
    padding: 5px 0 6px;
  }

  .listItem:hover {
    color: var(--orange);
  }

  .listItem svg path {
    transition: fill 0.1s ease-in;
  }

  .listItem:hover svg path {
    fill: var(--orange);
  }

  .menuContentBtn {
    display: none;
  }
}
