.userUrl {
  margin-right: 4px;
  color: var(--orange);

  position: relative;
  z-index: 2;
}

@media all and (min-width: 1024px) {
  .userUrl {
    margin: 0;
  }
}

@media all and (min-width: 1540px) {
  .userUrl:hover {
    text-decoration: underline;
  }
}
