.commentButton {
 display: flex;
 align-items: normal;
}

.commentButtonValue {
  font-weight: 500;
  padding-left: 6px;
  font-size: 12px;
  color: var(--grayC4);
  line-height: 14px;
}

@media all and (min-width: 1024px) {
  .commentButton {
    display: none;
  }
}