.textContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.textContentMeta {
  display: flex;
  align-items: center;
}

.textContentUserBox {
  display: flex;
  align-items: center;
}

@media all and (min-width: 1024px) {
  .textContentMeta {
    order: 2;
  }

  .textContentUserBox {
    order: 2;
    padding-left: 6px;
  }
}
