.sortBlock {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  background-color: var(--white);
  margin-bottom: 30px;
}

@media all and (min-width: 1024px) {
  .sortBlock {
    margin-bottom: 0;
    background-color: transparent;
  }
}
