.actions {
  display: flex;
  align-items: center;
}

.actions > *:not(:last-child) {
  margin-right: 15px;
}

.actionsShare,.actionsSave {
  width: 20px;
  height: 20px;
}


@media all and (min-width: 1024px) {
  .actions {
    display: none;
  }
}
