.card {
  position: relative;
  background-color: var(--white);
  /* border-radius: 7px; */
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
}

.card > * {
  flex: 1 1 100%;
}

@media all and (min-width: 1024px) {
  .card {
    flex-flow: row nowrap;
  }
}

@media all and (min-width: 1540px) {
  .card {
    border: 1px solid transparent;
  }

  .card:hover {
    cursor: pointer;
    border: 1px solid var(--grayD9);
  }

  .card:focus-within {
    border: 1px solid var(--grayD9);
  }

  .card:hover h2 a, .card:focus-within h2 a {
    color: var(--orange);
  }


}
