.container {
  width: 100%;
  flex: 1 1 0%;
}

.listContainer {
  position: relative;
  /* position: absolute; */
}

.list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}