.searchBlock {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 0px 20px 0px var(--black);
  width: 100%;
  margin: 0 0 30px;
  max-width: auto;
  padding: 15px;
}

@media all and (min-width: 1024px) {
  .searchBlock {
    max-width: 684px;
    /* padding: 0px; */
    margin: 0 0 0 auto;
    background-color: transparent;
    box-shadow: none;
    order: 3;
  }
}