.sort {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.sortComment {
  z-index: 110;
  min-width: 400px;
  height: 100px;
}

.sortTitle {
  /* margin-bottom: 0; */
  margin-right: 4px;
}

.sortButton {
  display: flex;
  align-items: center;
  /* font-size: 16px; */
  /* color: ; */
}

.sortButtonTitle {
  margin-right: 4px;
}
