.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green);
}

.grayF4 {
  color: var(--grayF4);
}

.grayF3 {
  color: var(--grayF3);
}

.grayD9 {
  color: var(--grayD9);
}

.grayC4 {
  color: var(--grayC4);
}

.gray99 {
  color: var(--gray99);
}

.gray66 {
  color: var(--gray66);
}