.userBlock {
  display: flex;
  align-items: center;
}

.userBlockAvatar {
  /* margin-right: ; */
}

.userBlockName {
  display: none;
}

@media all and (min-width: 1024px) {
  .userBlock {
    order: 3;
  }

  .userBlockName {
    display: block;
    margin-left: 13px;
  }
}

@media all and (min-width: 1540px) {
  .userBlock:hover div p {
    color: var(--orange);
  }

  .userBlock:hover div svg path {
    fill: var(--orange);
  }
}
