.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 0px;
  position: relative;
}

@media all and (min-width: 1024px) {
  .controls {
    flex: 0 0;
    margin-left: 24px;
  }
}

@media all and (min-width: 1540px) {}
