.preview {
  max-height: 178px;
}

.previewImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media all and (min-width: 1024px) {
  .preview {
    order: -1;
    flex: 0 0;
    min-width: 190px;
    max-height: 107px;
    margin-right: 18px;
  }
}