.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 1024px) {
  .header {
    padding: 40px;
    flex-direction: row;
  }
}

@media all and (min-width: 1540px) {
  .header {
    padding: 67px 0;
  }
}