@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --black: #333;
  --orange: #cc6633;
  --orangeHover: #cd7a50;
  --green: #a4cc33;
  --whiteLightness: 100%;
  --white: #fff;
  --grayF4: #f4f4f4;
  --grayF3: #f3f3f3;
  --grayD9: #d9d9d9;
  --grayC4: #c4c4c4;
  --gray99: #999;
  --gray66: #666;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--grayF4);
  font-size: 14px;
  line-height: 16px;
}

* {
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Roboto", sans-serif;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}