.karmaCounter {
}

.karmaCounterValue {
  font-weight: 500;
  padding: 0 4px;
  color: var(--grayC4);
  font-size: 12px;
  line-height: 14px;
}

.karmaCounterDownBtn:active svg path {
  fill: var(--orange);
}

.karmaCounterUpBtn:active svg path {
  fill: var(--green);
}

.karmaCounterDownBtn {
  transform: rotate(180deg);
}

@media all and (min-width: 1024px) {
  .karmaCounter {
    display: flex;
    flex-direction: column;
  }

  .karmaCounterValue {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    color: var(--black);
    font-size: 14px;
    line-height: 16px;
  }
}

@media all and (min-width: 1540px) {
  .karmaCounterDownBtn:hover svg path {
    fill: var(--orange);
  }

  .karmaCounterUpBtn:hover svg path {
    fill: var(--green);
  }
}
